:root {
  --default-line-height:     1.25;
  --line-height-1-5:         1.5;
  --line-height-2:           2;
  --letter-spacing-2:        2px;
  --letter-spacing-4:        4px;
  --margin-5:                5px;
  --margin-10:               10px;
  --margin-50:               50px;
  --margin-80:               80px;
  --padding-8-15:            8px 15px;
  --padding-8-25:            8px 25px;
  --padding-15-25:           15px 25px;
  --padding-5:               5px;
  --height-250:              250px;
  --width-3:                 3px;
  --width-80:                80px;
  --width-160:               160px;
  --width-250:               250px;
  --width-1419:              1419px;
  --width-1137:              1137px;
  --shadow-1:                1px;
  --shadow-2:                2px;
  
  --solid-border:            solid;
  --radius-20:               20px;
  --radius-30:               30px;
  
  --opacity-40:              40%;
  
  --font-weight-300:         300;
  --font-weight-400:         400;
  --font-weight-500:         500;
  --font-weight-600:         600;
  --font-weight-700:         700;
  --font-red-hat:            'Red Hat Display', sans-serif;
  --small-font-size:         10px;
  --text-font-size:          15px;
  --title-font-size:         20px;
  --big-font-size:           25px;
  --extra-big-font-size:     50px;
  --giant-font-size:         70px;
}
