.span--name {
  font-weight: var(--font-weight-600);
  color: var(--pink);
}

.link--name {
  text-decoration: none;
  color: var(--black);
}

.span--main {
  font-weight: var(--font-weight-600);
  color: var(--pink-100);
}
