.table {
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
  border: var(--width-3) var(--solid-border) var(--pink);
  background-color: var(--yellow-50);
  margin: var(--margin-10);
}

.table--header {
  font-size: var(--big-font-size);
  padding: var(--padding-3);
  border-collapse: collapse;
  border: var(--width-3) var(--solid-border) var(--pink);
  letter-spacing: var(--letter-spacing-2);
}

.table--title {
  font-size: var(--title-font-size);
  padding: var(--padding-3);
  border-collapse: collapse;
  border: var(--width-3) var(--solid-border) var(--pink);
  letter-spacing: var(--letter-spacing-2);
}

.table--cell {
  font-size: var(--text-font-size);
  padding: var(--padding-3);
  border-collapse: collapse;
  border: var(--width-3) var(--solid-border) var(--pink);
  text-align: center;
}
